PORT=10000
JWT_SECRET=troque-por-uma-chave-grande-e-secreta
ADMIN_USERNAME=admiro
ADMIN_PASSWORD=troque-essa-senha
CORS_ORIGIN=*
DATABASE_URL=postgresql://postgres.SEUPROJETO:SUA_SENHA@aws-1-us-west-2.pooler.supabase.com:6543/postgres
MIN_EXTENSION_VERSION=1.1.0
UPSYSTEM_PUBLIC_VERSION=1.1.9
REQUIRED_EXTENSION_BUILD=upsystem-v1-cleanbase-003
MAX_LOGS=500
LOG_RETENTION_DAYS=7
MAX_SYSTEM_LOGS=100
SYSTEM_LOG_RETENTION_DAYS=7
DISCORD_ENABLED=false
DISCORD_CLIENT_ID=1501402366828875796
DISCORD_GUILD_ID=1501405324492673184
DISCORD_SALES_CHANNEL_ID=1501406249877766226
DISCORD_LOG_CHANNEL_ID=1501406205845835796
DISCORD_BOT_TOKEN=cole-o-token-apenas-no-render
MERCADOPAGO_ENABLED=false
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
MERCADOPAGO_MODE=production
MERCADOPAGO_NOTIFICATION_URL=https://api-up-v1-0.onrender.com/webhooks/mercadopago?source_news=webhooks
PAYPAL_ENABLED=false
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_MODE=sandbox
MERCADOPAGO_DONATION_WEEKLY_BRL=1
MERCADOPAGO_DONATION_MONTHLY_BRL=1
DISCORD_DONATION_KEY_HOURS=168
DISCORD_DONATION_PANEL_CHANNEL_ID=1501406249877766226

DISCORD_VERIFY_CHANNEL_ID=1501417052638937240
DISCORD_ROLE_ADMIRO_ID=1501474309124919459
DISCORD_ROLE_PARCEIRO_ID=1501465651842121809
DISCORD_ROLE_CLIENTES_ID=1501465629264318484
DISCORD_ROLE_DEV_ID=1501465600600444998
DISCORD_ROLE_USER_ID=1501475029416677417
DISCORD_BOT_ROLE_ID=1501405803301572741
DISCORD_VALIDATION_CATEGORY_ID=
DISCORD_STAFF_ROLE_ID=
DISCORD_VALIDATION_CHANNEL_TTL_MINUTES=3

UPSYSTEM_EXTENSION_ONLINE_WINDOW_MINUTES=30

UPSYSTEM_DONATION_POLL_INTERVAL_SECONDS=10
UPSYSTEM_DONATION_POLL_TIMEOUT_MINUTES=5

DISCORD_VALIDATION_DELETE_AFTER_DM_SECONDS=30
DISCORD_VALIDATION_DELETE_AFTER_CHANNEL_KEY_MINUTES=10
