PORT=10000
JWT_SECRET=troque-por-uma-chave-grande-e-secreta
ADMIN_USERNAME=admiro
ADMIN_PASSWORD=troque-essa-senha
CORS_ORIGIN=*
DATABASE_URL=postgresql://postgres.SEUPROJETO:SUA_SENHA@aws-1-us-west-2.pooler.supabase.com:6543/postgres
MIN_EXTENSION_VERSION=1.4.16
MAX_LOGS=500
LOG_RETENTION_DAYS=7
MAX_SYSTEM_LOGS=100
SYSTEM_LOG_RETENTION_DAYS=7
